$task-color-black: black;
$task-color-red: #F44336;
$task-color-green: #43A047;
$task-color-blue: #2196F3;
$task-color-purple: #9C27B0;

.task-bg {
    &.black {
        background-color: $task-color-black;
    }

    &.red {
        background-color: $task-color-red;
    }

    &.green {
        background-color: $task-color-green;
    }

    &.blue {
        background-color: $task-color-blue;
    }

    &.purple {
        background-color: $task-color-purple;
    }
}

.task-border {
    &.black {
        border-color: $task-color-black;
    }

    &.red {
        border-color: $task-color-red;
    }

    &.green {
        border-color: $task-color-green;
    }

    &.blue {
        border-color: $task-color-blue;
    }

    &.purple {
        border-color: $task-color-purple;
    }
}
