@import "constants";

html, body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#root {
    margin-bottom: 2rem;
}

button {
    transition: .2s;
}

hr {
    width: 80%;
    border-color: #CCC;
}

.fa {
    color: grey;
    margin-left: .3em;
    margin-right: .3em;
    cursor: pointer;
    transition: color .2s;

    &:hover {
        color: #2979FF;
    }

    &.fa-angle-up, &.fa-angle-down, &.fa-angle-double-up, &.fa-angle-double-down {
        font-weight: bold;
    }
}

.done-button:hover {
    color: #00C853 !important;
}

.cancel-button:hover {
    color: #FF1744 !important;
}

.edit-button:hover {
    color: #FF9100 !important;
}

.navbar {
    display: flex;
    justify-content: center;
    color: white;
    @extend .task-bg;
    transition: background-color .2s;

    .navbar-brand {
        float: none;
        margin: 0 !important;
        height: auto;
        line-height: inherit;
        font-size: 3em;
        color: inherit;

        &:hover {
            color: inherit;
        }

        &:visited {
            color: inherit;
        }
    }
}

.total-info-box-wrapper {
    width: 80%;
    margin: 2rem auto;
    font-size: 1.2em;
}

.cur-task-box-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
}

.task-list-controls-box-wrapper {
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.task-list-wrapper {
    margin-bottom: 1.5rem;
}

.finished-title {
    font-size: 3em;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
