html, body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.app-title {
    font-size: 4em;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.curtaskbox-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fa {
    color: grey;
    margin-left: .3em;
    margin-right: .3em;
    cursor: pointer;
    transition: color .2s;

    &:hover {
        color: blue;
    }

    &.fa-angle-up, &.fa-angle-down, &.fa-angle-double-up, &.fa-angle-double-down {
        font-weight: bold;
    }
}

.done-button:hover {
    color: green;
}

.cancel-button:hover {
    color: red;
}

.edit-button:hover {
    color: orange;
}
