.task-item {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
}

.task-item-time-remaining {
    width: 4rem;
}

.task-item-buttons {
    margin-left: auto;

    > span {
        color: grey;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: color .2s;

        &:hover {
            cursor: pointer;
        }
    }

    .done-button:hover {
        color: green;
    }
}
