@import "constants";

.task-item {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    position: relative;
    z-index: 0;

    &.current {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;

        .task-item-buttons {
            background-color: $primary-color;

            .fa:hover {
                color: #8AF;
            }
        }
    }
}

.task-item-time-remaining {
    width: 5em;
}

.task-item-buttons {
    position: absolute;
    z-index: 1;
    right: 1rem;
    background-color: white;
    opacity: 0;
    transition: opacity .2s;
}
