@import "constants";

.submit-button:not(:disabled) {
    color: white;
    @extend .task-bg;

    &:hover {
        color: white;
    }

    &:active {
        color: white;
        @extend .task-bg;
    }
}

.submit-button-div {
    text-align: center;
    margin-top: 4rem;
}

.color-picker {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 3rem auto auto auto;

    > div {
        width: 2em;
        height: 2em;
        margin: 0;
        border-radius: 5px;
        cursor: pointer;
        @extend .task-bg;
        transition: border-radius .2s;

        &.selected {
            border-radius: 100%;
        }
    }
}
