.task-item {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;

    &.current {
        color: blue;
        border-color: blue;
        border-width: 3px;
    }
}

.task-item-time-remaining {
    width: 5em;
}

.task-item-buttons {
    margin-left: auto;
}
