.timer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 5em;
    height: 5em;
    font-size: 3em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 100%;
    margin-bottom: 1rem;
}
