$task-color-grey: #546E7A;
$task-color-red: #F44336;
$task-color-green: #43A047;
$task-color-blue: #2196F3;
$task-color-purple: #9C27B0;

@mixin colorify($property) {
    #{$property}: $task-color-grey;

    &.grey {
        #{$property}: $task-color-grey;
    }

    &.red {
        #{$property}: $task-color-red;
    }

    &.green {
        #{$property}: $task-color-green;
    }

    &.blue {
        #{$property}: $task-color-blue;
    }

    &.purple {
        #{$property}: $task-color-purple;
    }
}

@mixin fadedColorify($property, $percent) {
    #{$property}: white;

    &.grey {
        #{$property}: white;
    }

    &.red {
        #{$property}: lighten($task-color-red, $percent);
    }

    &.green {
        #{$property}: lighten($task-color-green, $percent);
    }

    &.blue {
        #{$property}: lighten($task-color-blue, $percent);
    }

    &.purple {
        #{$property}: lighten($task-color-purple, $percent);
    }
}

.task-bg {
    @include colorify(background-color);
}

.task-bg-faded {
    @include fadedColorify(background-color, 45%);
}

.task-border {
    @include colorify(border-color);
}

.task-stroke {
    @include colorify(stroke);
}

.link, .link:hover {
    cursor: pointer;
    color: #2979FF;
    text-decoration: none;
}
