@import "constants";

input {
    margin-bottom: 1em;
}

.color-picker-label {
    display: block;
    text-align: center;
    margin: 1em auto;
}

.color-picker {
    display: flex;
    justify-content: space-evenly;

    > div {
        width: 2em;
        height: 2em;
        margin: 0;
        border-radius: 5px;
        cursor: pointer;
        @extend .task-bg;
        transition: border-radius .2s;

        &.selected {
            border-radius: 100%;
        }
    }
}

.submit-button-div {
    text-align: center;
    margin-top: 4rem;
}
